:root {
    --bkg_white: #FEF7F7;
    --deep_purple: #8039b4;
    --deep_blue: #4E39B4;
    --cool_pink: #C31D6C;
  }
  
  
  .main-ctr {
    padding: 0 20%;
  }
  
  .top-ctr {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
  }
  .middle-ctr {
    display: flex;
    padding: 0px 0;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 50px;
  }
  .middle-2 {
    display: flex;
    padding: 0px 0;
    /*align-items: center;*/
    justify-content: space-evenly;
    padding-bottom: 50px;
  }
  .middle-3 {
    display: flex;
    padding: 0px 0;
    /*align-items: center;*/
    justify-content: space-evenly;
    padding-bottom: 50px;
  }
  .middle-4 {
    display: flex;
    padding: 0px 0;
    /*align-items: center;*/
    justify-content: space-evenly;
    padding-bottom: 50px;
  }
  
  .title {
    /*font-family: metropolissemi_bold;*/
    font-size: 40px;
    color: var(--deep_purple);
    justify-content: center;
    padding-bottom: 10px;
  }
  
  .button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
  }
  
  .button {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    padding: 0px 0px;
    margin: 0 0px;
    background-color: black;
    color: white;
  }

  .button {
    transition: transform 0.7s ease-in-out;
  }
  
  .button:hover {
    transform: scale(1.2);
  }
  #Supercoppa_Italiana{
     width: 100px;
     height: 150px;
  }
  #SI{
    width: 100px;
    height: 150px;
  }
  #Coppa_Italia{
    width: 100px;
    height: 150px;
 }
 #CI{
   width: 100px;
   height: 150px;
 }

  
  .hidden {
    display: none;
  }  
